[submodule "sources/bitbake"]
	path = sources/bitbake
	url = https://github.com/YoeDistro/bitbake
	branch = 1.46
[submodule "sources/openembedded-core"]
	path = sources/openembedded-core
	url = https://github.com/YoeDistro/openembedded-core
	branch = yoe/dunfell
[submodule "sources/meta-openembedded"]
	path = sources/meta-openembedded
	url = https://github.com/YoeDistro/meta-openembedded
	branch = dunfell
[submodule "sources/meta-ti"]
	path = sources/meta-ti
	url = https://github.com/YoeDistro/meta-ti
	branch = master
[submodule "sources/meta-freescale"]
	path = sources/meta-freescale
	url = https://github.com/YoeDistro/meta-freescale
	branch = dunfell
[submodule "sources/meta-freescale-3rdparty"]
	path = sources/meta-freescale-3rdparty
	url = https://github.com/YoeDistro/meta-freescale-3rdparty
	branch = dunfell
[submodule "sources/meta-qt5"]
	path = sources/meta-qt5
	url = https://github.com/YoeDistro/meta-qt5
	branch = dunfell
[submodule "sources/meta-intel"]
	path = sources/meta-intel
	url = https://github.com/YoeDistro/meta-intel
	branch = dunfell
[submodule "sources/meta-raspberrypi"]
	path = sources/meta-raspberrypi
	url = https://github.com/YoeDistro/meta-raspberrypi
	branch = dunfell
[submodule "sources/meta-96boards"]
	path = sources/meta-96boards
	url = https://github.com/YoeDistro/meta-96boards
	branch = dunfell
[submodule "sources/meta-qcom"]
	path = sources/meta-qcom
	url = https://github.com/YoeDistro/meta-qcom
	branch = dunfell
[submodule "sources/meta-variscite-fslc"]
	path = sources/meta-variscite-fslc
	url = https://github.com/YoeDistro/meta-variscite-fslc
	branch = yoe/master
[submodule "sources/meta-yoe"]
	path = sources/meta-yoe
	url = https://github.com/YoeDistro/meta-yoe
	branch = master
[submodule "sources/meta-riscv"]
	path = sources/meta-riscv
	url = https://github.com/YoeDistro/meta-riscv
	branch = master
[submodule "sources/meta-odroid"]
	path = sources/meta-odroid
	url = https://github.com/YoeDistro/meta-odroid
	branch = dunfell
[submodule "sources/meta-rust"]
	path = sources/meta-rust
	url = https://github.com/YoeDistro/meta-rust
	branch = master
[submodule "sources/meta-atmel"]
	path = sources/meta-atmel
	url = https://github.com/YoeDistro/meta-atmel
	branch = dunfell
[submodule "sources/meta-clang"]
	path = sources/meta-clang
	url = https://github.com/YoeDistro/meta-clang
	branch = master
[submodule "sources/meta-altera"]
	path = sources/meta-altera
	url = https://github.com/YoeDistro/meta-altera
	branch = master
[submodule "sources/meta-webkit"]
	path = sources/meta-webkit
	url = git://github.com/yoedistro/meta-webkit
	branch = master
[submodule "sources/meta-arm"]
	path = sources/meta-arm
	url = git://github.com/yoedistro/meta-arm
	branch = master
[submodule "sources/meta-elm-binary"]
	path = sources/meta-elm-binary
	url = git://github.com/yoedistro/meta-elm-binary
	branch = master
[submodule "sources/meta-rockchip"]
	path = sources/meta-rockchip
	url = git://git.yoctoproject.org/meta-rockchip
	branch = dunfell
[submodule "sources/meta-xilinx"]
	path = sources/meta-xilinx
	url = https://github.com/Xilinx/meta-xilinx
	branch = master
[submodule "sources/meta-xilinx-tools"]
	path = sources/meta-xilinx-tools
	url = https://github.com/Xilinx/meta-xilinx-tools
	branch = master
[submodule "sources/meta-petalinux"]
	path = sources/meta-petalinux
	url = https://github.com/Xilinx/meta-petalinux
	branch = master
