build
downloads
conf/auto.conf
conf/local.conf
conf/sanity_info
conf/local.conf
pseudodone
git_config
subversion_config/
package-depends.dot
pn-depends.dot
task-depends.dot
environment-oecore
localconfig.sh
image/SeedSense_update_*.img
image/nand.jffs2
image/nor_data.in
image/svs_update.md5
image/version.txt
nor/rootfs/
alphaupdatelist.txt
conf/toolchain.cmake
bitbake.lock
bitbake-cookerdaemon.log
local.sh
cache
buildhistory
tools/python
tools/python-config
workspace/*
logs/
