# the contents of local.conf are intended to be user or build machine specific and not
# applicable to the broader team; therefore, it should NOT be checked into Git.

# below is a sample of what might go in local.conf

# if you want to use a directory for downloads other than the default, set
# it here. It is recommended you use this method rather than softlinking
# downloads to another directory, so that the location can be automatically
# mapped into the docker container.
DL_DIR = "/scratch/downloads"

# required for Freescale stuff to build
ACCEPT_FSL_EULA = "1"

# required for Qualcomm stuff to build
ACCEPT_EULA = "1"

# The two lines below enable the Gtk UI frontend for qemu
# default is VNC
PACKAGECONFIG_append_pn-qemu-native = " gtk+"
PACKAGECONFIG_append_pn-nativesdk-qemu = " gtk+"

# components whose licensing have commercial distribution impact
#
# required to build netperf
LICENSE_FLAGS_WHITELIST_append = " non-commercial_netperf "
# chromium
LICENSE_FLAGS_WHITELIST_append = " commercial_ffmpeg commercial_x264 "
# vlc
LICENSE_FLAGS_WHITELIST_append = " commercial_mpeg2dec commercial_vlc "
# mpd
LICENSE_FLAGS_WHITELIST_append = " commercial_mpg123 "
# libmad
LICENSE_FLAGS_WHITELIST_append = " commercial_libmad "
# gstreamer1.0-libav
LICENSE_FLAGS_WHITELIST_append = " commercial_gstreamer1.0-libav "
# gstreamer1.0-omx
LICENSE_FLAGS_WHITELIST_append = " commercial_gstreamer1.0-omx "
# omapfbplay
LICENSE_FLAGS_WHITELIST_append = " commercial_lame "
# libomxil
LICENSE_FLAGS_WHITELIST_append = " commercial_libomxil "
# xfce
LICENSE_FLAGS_WHITELIST_append = " commercial_packagegroup-xfce-multimedia commercial_xfce4-mpc-plugin"
LICENSE_FLAGS_WHITELIST_append = " commercial_xfmpc commercial_mpd "
LICENSE_FLAGS_WHITELIST_append = " commercial_mpv "
# epiphany
LICENSE_FLAGS_WHITELIST_append = " commercial_faad2 "
# gstreamer ugly plugins
LICENSE_FLAGS_WHITELIST_append = " commercial_gstreamer1.0-plugins-ugly "
# sox tools
LICENSE_FLAGS_WHITELIST_append = " commercial_sox "
#
# For full debugging image uncomment following
#
#EXTRA_IMAGE_FEATURES_append = " tools-debug dbg-pkgs"
#
# For native development on device uncomment following
#
#EXTRA_IMAGE_FEATURES_append = " tools-sdk dev-pkgs"
#
