
# this is a sample of what might go in local.conf

# required for Freescale stuff to build
ACCEPT_FSL_EULA = "1"

# required for Qualcomm stuff to build
ACCEPT_EULA = "1"

# required to build netperf
LICENSE_FLAGS_WHITELIST = "non-commercial"

# use the following to set the IP or hostname
# for the oe_setup_feed_server function
# if you have a decent DHCP server, then this is often
# the same as MACHINE
export MACHINE_IP=$MACHINE

# When setting up feeds it will try to use this
# hosts IP address to configure the server on target
# machine, however if a different IP address is to be
# used then set it up here
export HOST_IP=10.10.10.10

# configure docker container to run bitbake in
export DOCKER_REPO=yoedistro/yoe-build:stretch
