# local.conf should only be used for settings that are unique to a
# user or build machine. Settings that are common for the entire team
# should be added to site.conf, which is stored in git.

# Use the following to enable systemd
# Distro template is as follows
#
# "yoe-<libc>-<init-system>-<windowing-system>"
#
# Possible options are
DISTRO = "yoe-glibc-busyboxinit-eglfs"
DISTRO = "yoe-glibc-busyboxinit-wayland"
DISTRO = "yoe-glibc-busyboxinit-x11"
DISTRO = "yoe-glibc-systemd-eglfs"
DISTRO = "yoe-glibc-systemd-wayland"
DISTRO = "yoe-glibc-systemd-x11"
DISTRO = "yoe-glibc-sysvinit-eglfs"
DISTRO = "yoe-glibc-sysvinit-wayland"
DISTRO = "yoe-glibc-sysvinit-x11"
DISTRO = "yoe-musl-busyboxinit-eglfs"
DISTRO = "yoe-musl-busyboxinit-wayland"
DISTRO = "yoe-musl-busyboxinit-x11"
DISTRO = "yoe-musl-systemd-eglfs"
DISTRO = "yoe-musl-systemd-wayland"
DISTRO = "yoe-musl-systemd-x11"
DISTRO = "yoe-musl-sysvinit-eglfs"
DISTRO = "yoe-musl-sysvinit-wayland"
DISTRO = "yoe-musl-sysvinit-x11"
# configure docker container to run bitbake in
export DOCKER_REPO=yoedistro/yoe-build:buster

# Keep the load in control and do not issue more parallel jobs
# when load hits 1.5 * number of cpus
PARALLEL_MAKE_append = " \
-l ${@int(os.sysconf(os.sysconf_names['SC_NPROCESSORS_ONLN'])) * 150/100} \
"

